*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
$mainBlack: rgb(0, 0, 0);
$mainGreen: rgb(73, 177, 59);
$mainWhile: rgb(1, 97, 76);
$mainGrey: rgba(189, 186, 186, 0.301);

body{
  font-family: 'Yusei Magic', sans-serif;
}